{% extends "base.html" %}
{% block content %}

<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h1>
                Список последних
                <small class="light">100 пользователей</small>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Псевдоним</th>
                        <th>Дата регестрации</th>
                        <th>Последний визит</th>
                        <th>Почта</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_dict in records %}
                    <tr>
                        <td><a href="/user/{{ user_dict['User_id'] }}">{{ user_dict["Login"] | truncate(15, True) }}</a>
                        </td>
                        <td>{{ user_dict["Registration_date"] }}</td>
                        <td>{{ user_dict["Last_login_date"] }}</td>
                        <td>{{ user_dict["Email"] | truncate(15, True) }}</td>
                    </tr>
                    {% else %}
                        <p>Вы у нас первый, играйте и побеждайте!</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}