{% extends "base.html" %}
{% block content %}

<section class="section section-alt">
  <div class="row-fluid">
    <div class="super-hero-unit">
            <figure>
              <img alt="some image" src="{{ url_for('static', filename='images/assets/landscapes/landscape-1-1250x420.jpg') }}" />
              <figcaption class="flex-caption">
                <h1 class="super">
                  Огнём
                  <span class="lighter">
                    &amp;
                  </span>
                  Мечом
                </h1>
              </figcaption>
            </figure>
          </div>
</section>
<section class="section section-alt section-padded">
    <div class="container-fluid">
        <!-- лучшие по победам -->
        <div class="section-header">
            <h1>
                Чёртова
                <small class="light">дюжина</small>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Персонаж</th>
                        <th>Кол-во побед</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for winner in records_win %}
                    <tr>
                        <td><a href="/user/{{ winner['User_id'] }}">{{ winner["Login"] | truncate(15, True) }}</a></td>
                        <td><a href="/character/{{ winner['Winner_id'] }}">{{ winner["Name"] }}</a></td>
                        <td>{{ winner["Count_win"] }}</td>
                    </tr>
                    {% else %}
                        <p>Пока никто не выигрывал!</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- игроки по классам -->
        <div class="section-header">
            <h1>
                Ох уж эти
                <small class="light">классы</small>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Класс</th>
                        <th>Кол-во представителей</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in records_class %}
                    <tr>
                        <td>{{ class["Type"] }}</td>
                        <td>{{ class["Count_class"] }}</td>
                    </tr>
                    {% else %}
                        <p>Пока нет классов!</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}